{{! template-lint-disable no-invalid-interactive}}
{{! template-lint-disable no-html-comments}}

<div class="row exp-lookit-change-detection" id="alternation-container">

    {{#if doingIntro}}

        <video id="player-video"
               class="attn"
               autoplay
               loop>

            {{#each videoSources_parsed as |stream|}}
                <source src={{stream.src}} type={{stream.type}}>
            {{/each}}
        </video>

        <audio id="player-audio"
               onended={{action "endAudio"}}>
            {{#each audioSources_parsed as |stream|}}
                <source src={{stream.src}} type={{stream.type}}>
            {{/each}}
        </audio>

    {{/if}}

    <div id="allstimuli">
        <div id="left-stream-container" class="stream-container">
        </div>

        <div id="right-stream-container" class="stream-container">
        </div>
    </div>

    <audio id="player-music"
           loop>
        {{#each musicSources_parsed as |stream|}}
            <source src={{stream.src}} type={{stream.type}}>
        {{/each}}
    </audio>

    {{#if endAudioSources}}
        <audio id="player-endaudio"
               onended={{action "finish"}}>
            {{#each endAudioSources_parsed as |stream|}}
                <source src={{stream.src}} type={{stream.type}}>
            {{/each}}
        </audio>
    {{/if}}

    <!--RECORDER-->
    <div class="row recorder-container video-recorder-hidden">
        <div id="recorder" class="col-xs-12">
        </div>
    </div>

</div>

