{{! template-lint-disable invalid-interactive}}

<div class="row exp-lookit-geometry-alternation" id="alternation-container">

    <video id="player-calibration-video"
           class="calibration center"
           autoplay
           style="display:none;">
        {{#each calibrationVideoSources as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </video>


    {{#if doingIntro}}

        <video id="player-video"
               class="attn"
               autoplay
               loop>

            {{#each videoSources as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </video>

        {{#if hasBeenPaused}}
            <audio id="player-audio"
                   onended={{action 'endAudio'}}>
                {{#each unpauseAudio as |stream|}}
                    <source src="{{stream.src}}" type="{{stream.type}}">
                {{/each}}
            </audio>
        {{else}}
            <audio id="player-audio"
                   onended={{action 'endAudio'}}>
                {{#each audioSources as |stream|}}
                    <source src="{{stream.src}}" type="{{stream.type}}">
                {{/each}}
            </audio>
        {{/if}}

        <audio id="player-pause-audio">
            {{#each pauseAudio as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>

        <audio id="player-pause-audio-leftfs">
            {{#each fsAudio as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>

    {{/if}}

    {{#if isPaused}}
        <p class="pause-instructions"> Study paused </p>
        {{#if updatedIsFullscreen}}
            <p class="pause-instructions"> Press space to resume </p>
            <p class="pause-instructions"> (You'll have a moment to turn around again.) </p>
        {{/if}}
    {{/if}}

    {{#unless updatedIsFullscreen}}
        <button class="btn btn-success exp-lookit-geometry-alternation" id="fsButton" {{ action 'showFullscreen'}} >
            please return to fullscreen
        </button>
    {{/unless}}

    {{#unless doingIntro}}
        <svg viewBox="0 0 200 112" id="allstimuli">

            {{!-- Box for left image stream --}}
            <rect x="2.5" y="5.6" width="70" height="100.8" fill="none" stroke="#666" stroke-width=".5"/>

            {{!-- Box for right image stream --}}
            <rect x="127.5" y="5.6" width="70" height="100.8" fill="none" stroke="#666" stroke-width=".5"/>

            {{!-- Actual triangles go here --}}
            <g id="stimuli">
            </g>

        </svg>
    {{/unless}}

    <audio id="player-music"
           loop>
        {{#each musicSources as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </audio>

    <audio id="player-calibration-audio">
        {{#each calibrationAudioSources as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </audio>

    {{#if endAudioSources}}
        <audio id="player-endaudio"
               onended={{action 'next'}}>
            {{#each endAudioSources as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>
    {{/if}}





</div>

