{{! template-lint-disable no-invalid-interactive}}

<div class="exp-lookit-story-page" id="exp-lookit-story-page-container">

    <div class="row recorder-container video-recorder-hidden">
        <div id="recorder" class="col-xs-12">
        </div>
    </div>

    <div id="story-area">
        {{#if (or doRecording startSessionRecording)}}
            <p id='waitForVideo'> establishing video connection <br> please wait... </p>
        {{/if}}

        {{#each images_parsed as |image|}}
            <div id={{image.id}} class="story-image-container" style="left:{{image.left}}%; width:{{image.width}}%; top:{{image.top}}%;" {{!-- template-lint-disable no-inline-styles style-concatenation--}}>
                <img src={{image.src}} class="story-image" alt="story illustration">
            </div>
        {{/each}}
    </div>

    {{#unless updatedIsFullscreen}}
        <button type="button" class="btn btn-warning exp-lookit-story-page" id="fsButton" {{ action 'showFullscreen'}} >
            please return
            <br>
            to fullscreen
        </button>
    {{/unless}}

    {{#each audioSources_parsed as |audioSourceObject|}}
        <audio class="player-audio" id={{audioSourceObject.audioId}} onended={{action 'playNextAudioSegment'}} ontimeupdate={{action 'updateCharacterHighlighting'}}>
            {{#each audioSourceObject.sources as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>
    {{/each}}

    <div id="story-controls">
        {{#unless autoProceed}}
            <button type="button" id="replaybutton" class="btn btn-primary left"  {{ action 'replay' }}> Replay</button>
        {{/unless}}

        <div id="parenttext">
            {{#if (and autoProceed showProgressBar)}}
                <div class="progress" id="progressbar">
                    <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width:0%" aria-valuemin="0" aria-valuemax="100" {{!-- template-lint-disable no-inline-styles --}}></div>
                </div>
            {{/if}}
            {{exp-text-block block=parentTextBlock}}
        </div>
        {{#unless autoProceed}}
            <button type="button" id="nextbutton" class="btn btn-success right" {{ action 'finish' }} >
                Next
            </button>
        {{/unless}}
    </div>


</div>

