<div class="exp-video-preview">
    <div class="vertical-pad"></div>

    <div class="row exp-text" id="exp-lookit-preview-container">

        <div class="row recorder-container video-recorder-hidden">
            <div id="recorder" class="col-xs-12">
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            {{#if prompt}}
                {{text}}
                <br> <br>
                <button type="button" class="btn btn-success btn-block" disabled={{disableRecord}} {{action 'accept'}}>{{prompt}}</button>
                <hr>
            {{else}}
                {{currentVideo.caption}}
                <br> <br>
            {{/if}}
        </div>


        {{#unless prompt}}

            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    {{#if currentVideo.imgSrc}}

                        <img class="exp-lookit-preview-image" src={{currentVideo.imgSrc}} alt="Preview">

                    {{else}}

                        <video class="exp-lookit-preview-video" controls style="width: 100%;" {{!-- template-lint-disable no-inline-styles --}}>
                            {{#each currentVideo.sources as |vidsource|}}
                                <source src={{vidsource.src}} type={{vidsource.type}}>
                            {{/each}}
                            Your browser does not support the video tag.
                        </video>

                    {{/if}}
                </div>
            </div>

        {{/unless}}

    </div>

    {{#unless prompt}}
        <div class="row exp-controls">
            <div class="col-md-12 text-center">
                {{!--<button type="button" class="btn btn-default pull-left" {{action 'next'}}>End preview</button>--}}
                <button type="button" disabled={{noPrev}} {{action 'previousVideo'}} class="btn btn-primary pull-left">
                    {{previousStimulusText}}
                </button>
                {{#if noNext}}
                    <button type="button" {{action 'finish'}} class="btn btn-success pull-right"> Continue</button>
                {{else}}
                    <button type="button" {{action 'nextVideo'}} class="btn btn-success pull-right"> {{nextStimulusText}}</button>
                {{/if}}
            </div>
        </div>

    {{/unless}}

</div>