{{! template-lint-disable no-invalid-interactive}}
{{! template-lint-disable no-html-comments}}
<div class="input-group exp-lookit-preferential-looking row col-md-6 ">

    <!--RECORDER-->
    <div class="row recorder-container video-recorder-hidden">
        <div id="recorder" class="col-xs-12">
        </div>
    </div>

    <!--CALIBRATION VIDEO-->
    <video id="player-calibration-video"
           class="calibration"
           autoplay
           style="display:none;"
           {{!-- template-lint-disable no-inline-styles --}}>
        {{#each calibrationVideo_parsed as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </video>

    <!--CALIBRATION AUDIO-->
    <audio id="player-calibration-audio">
        {{#each calibrationAudio_parsed as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </audio>

    <!--ANNOUNCEMENT AUDIO-->
    {{#if (and doingAnnouncement (not isPaused))}}
        <audio id="announcement-audio"
               onended={{action 'announcementEnded'}}
               onplaying={{action 'announcementStarted'}}
               autoplay="autoplay"
        >
            {{#if hasBeenPaused}}
                {{#each unpauseAudio_parsed as |stream|}}
                    <source src="{{stream.src}}" type="{{stream.type}}">
                {{/each}}
            {{else}}
                {{#each announcementAudio_parsed as |stream|}}
                    <source src="{{stream.src}}" type="{{stream.type}}">
                {{/each}}
            {{/if}}
        </audio>
    {{/if}}

    <!--PAUSE AUDIO-->
    {{#if isPaused }}
        <audio id="pause-audio" autoplay="autoplay">
            {{#each pauseAudio_parsed as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>
    {{/if}}

    <!--TEST MUSIC-->
    <audio id="exp-music" loop="{{if loopTestAudio "loop"}}">
        {{#each testAudio_parsed as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </audio>

    <!--VIDEO: ATTN, INTRO, OR TEST-->
    <video id="player-video"
           class="{{if (or doingAnnouncement isPaused) 'attn'}} {{if doingIntro 'intro'}} {{if doingTest 'test'}}"
           autoplay="autoplay"
           onended={{ action 'videoStopped'}}
           onplay={{action 'videoStarted'}}>
        {{#each videoSources as |stream|}}
            <source src="{{stream.src}}" type="{{stream.type}}">
        {{/each}}
    </video>

    <!--STATIC IMAGES-->
    <div id="allstimuli" style="display:none;" {{!-- template-lint-disable no-inline-styles --}}>
        {{#if leftImage}}
            <div id="left-container">
                <img id="left-image" src={{leftImage_parsed}} class="stim-image" alt="left stimulus">
            </div>
        {{/if}}
        {{#if rightImage}}
            <div id="right-container">
                <img id="right-image" src={{rightImage_parsed}} class="stim-image" alt="right stimulus">
            </div>
        {{/if}}
        {{#if centerImage}}
            <div id="center-container">
                <img id="center-image" src={{centerImage_parsed}} class="stim-image" alt="center stimulus">
            </div>
        {{/if}}
    </div>

    <!--PAUSE TEXT-->
    {{#if isPaused}}
        <p class="pause-instructions"> Study paused </p>
        {{#if updatedIsFullscreen}}
            <p class="pause-instructions"> Press space to resume </p>
            <p class="pause-instructions"> {{pauseText}} </p>
        {{/if}}
    {{/if}}

</div>

<!--FULLSCREEN BUTTON-->
<div class="row col-md-6 exp-lookit-preferential-looking">
    <button type="button" class="btn btn-success" style="display:none;" id="fsButton" {{ action 'showFullscreen'}} {{!-- template-lint-disable no-inline-styles --}}>
        please return to fullscreen
    </button>
</div>