<div class="row exp-text exp-lookit-preview-explanation">
    <div class="vertical-pad"></div>
    <div class="col-md-8 col-md-offset-2">

        {{exp-text-block block=introBlock}}

        <br>

        <img id="overshoulderpic"
            class="overshoulderpic"
            src={{image.src}}
            alt={{image.alt}} >
        <br>

        {{#each blocks as |prompt|}}
            {{exp-text-block block=prompt}}
        {{/each}}
    </div>
</div>

<div class="row exp-controls col-md-12">
    {{#if showPreviousButton}}
        <button type="button" class="btn btn-default pull-left" {{ action 'previous' }} > Previous</button>
    {{/if}}
    <button type="button" class="btn btn-primary pull-right" {{ action 'next' }} > {{previewButtonText}} </button>
</div>

<div class="exp-controls col-md-12 row">
    <button type="button" id="nextbutton" class="btn btn-success pull-right" {{ action 'skipone' }} >  {{skipButtonText}} </button>
</div>