{{! template-lint-disable no-invalid-interactive}}
{{! template-lint-disable no-html-comments}}

<div class="input-group exp-lookit-video row {{unless autoProceed "cursor-display"}}">

    <!--RECORDER-->
    <div class="row recorder-container video-recorder-hidden">
        <div id="recorder" class="col-xs-12">
        </div>
    </div>

    <div id="image-area" class={{if maximizeVideoArea "image-area-fs"}} >
        {{#if startSessionRecording}}
            <p id="waitForVideo"> establishing video connection <br> please wait... </p>
        {{/if}}

        <!--STIMULI. Keep the test-video outside the if block to allow positioning at start. -->
        <div id="test-video" class="story-image-container {{if video.position video.position}}">
            {{#if doingTest}}
                <!--TEST AUDIO-->
                <audio id="player-audio" onended={{ action "audioStopped"}}
                       onplay={{action "audioStarted"}} autoplay="autoplay">
                    {{#each audio_parsed.source as |stream|}}
                        <source src={{stream.src}} type={{stream.type}}>
                    {{/each}}
                </audio>
                <!--TEST VIDEO-->
                <video id="player-video"
                       class="test story-image"
                       autoplay="autoplay"
                       onended={{ action "videoStopped"}}
                       onplay={{action "videoStarted"}}>
                    {{#each video_parsed.source as |stream|}}
                        <source src={{stream.src}} type={{stream.type}}>
                    {{/each}}
                </video>
            {{/if}}
        </div>


    </div>


    {{#unless maximizeVideoArea}}

        <div id="story-controls">

            {{#if hasParentText}}
                <div id="parenttext">
                    {{exp-text-block block=parentTextBlock}}
                </div>
            {{/if}}

            {{#unless autoProceed}}
                <div class="button-container right">
                    <button type="button" id="nextbutton" class="btn btn-success fill" {{ action "finish" }} >
                        Next <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            {{/unless}}

        </div>

    {{/unless}}

</div>