{{! template-lint-disable no-invalid-interactive}}
{{! template-lint-disable no-html-comments}}

<div class="input-group exp-lookit-video row col-md-6 ">

    <!--RECORDER-->
    <div class="row recorder-container video-recorder-hidden">
        <div id="recorder" class="col-xs-12">
        </div>
    </div>

    <!--CALIBRATION VIDEO-->
    <video id="player-calibration-video"
           class="calibration"
           autoplay
           style="display:none;"
           {{!-- template-lint-disable no-inline-styles --}}>
        {{#each calibrationVideoSources_parsed as |stream|}}
            <source src={{stream.src}} type={{stream.type}}>
        {{/each}}
    </video>

    <!--CALIBRATION AUDIO-->
    <audio id="player-calibration-audio">
        {{#each calibrationAudioSources_parsed as |stream|}}
            <source src={{stream.src}} type={{stream.type}}>
        {{/each}}
    </audio>

    <!--ANNOUNCEMENT AUDIO-->
    {{#if (and doingAnnouncement (not isPaused))}}
        <audio id="announcement-audio"
               onended={{action "announcementEnded"}}
               autoplay="autoplay"
        >
            {{#if hasBeenPaused}}
                {{#each unpauseAudio_parsed as |stream|}}
                    <source src={{stream.src}} type={{stream.type}}>
                {{/each}}
            {{else}}
                {{#each audioSources_parsed as |stream|}}
                    <source src={{stream.src}} type={{stream.type}}>
                {{/each}}
            {{/if}}
        </audio>
    {{/if}}

    <!--PAUSE AUDIO-->
    {{#if isPaused }}
        <audio id="pause-audio" autoplay="autoplay">
            {{#each pauseAudio_parsed as |stream|}}
                <source src={{stream.src}} type={{stream.type}}>
            {{/each}}
        </audio>
    {{/if}}

    <!--TEST MUSIC-->
    <audio id="exp-music" loop="loop">
        {{#each musicSources_parsed as |stream|}}
            <source src={{stream.src}} type={{stream.type}}>
        {{/each}}
    </audio>

    <!--VIDEO: ATTN, INTRO, OR TEST-->
    <video id="player-video"
           class="{{if (or doingAnnouncement isPaused) "attn"}} {{if doingIntro "intro"}} {{if doingTest "test"}}"
           autoplay="autoplay"
           onended={{ action "videoStopped"}}
           onplay={{action "videoStarted"}}>
        {{#each videoSources as |stream|}}
            <source src={{stream.src}} type={{stream.type}}>
        {{/each}}
    </video>

    <!--PAUSE TEXT-->
    {{#if isPaused}}
        <p class="pause-instructions"> Study paused </p>
        {{#if updatedIsFullscreen}}
            <p class="pause-instructions"> Press space to resume </p>
            <p class="pause-instructions"> {{pauseText}} </p>
        {{/if}}
    {{/if}}

</div>

<!--FULLSCREEN BUTTON-->
<div class="row col-md-6 exp-lookit-video">
    <button type="button" class="btn btn-success" style="display:none;" id="fsButton" {{ action "showFullscreen"}} {{!-- template-lint-disable no-inline-styles --}}>
        please return to fullscreen
    </button>
</div>