{{! template-lint-disable style-concatenation }}
<div class="row exp-lookit-exit-survey">
    <div class="col-md-8 col-md-offset-2">
        {{#if section1}}
            {{#bs-form}}
                <label>
                    <i class="fa fa-star"></i> Please confirm your child's birthdate:
                </label>
                {{bs-datetimepicker
                    format="MM/DD/YYYY"
                    pickDate=false
                    noIcon=true
                    allowInputToggle=true
                    updateDate=(action (mut birthDate))
                    maxDate=today}}
                <div class="extra-info">
                    We ask again just to check for typos during registration or accidental selection
                    of a different child at the start of the study.
                </div>
                {{#if showValidation}}
                    <p class="text text-danger">
                        {{validations.attrs.birthDate.messages}}
                    </p>
                {{/if}}
                <hr>

                <fieldset disabled={{withdrawal}} class={{if withdrawal "text-muted"}}>
                    <label>
                        <i class="fa fa-star"></i> Would you like to share your video and other data from this session
                        with authorized users of the secure data library Databrary?
                    </label>
                    <div class="radio">
                        <label>
                            <span class="radio-holder">
                                {{radio-button value="no" checked=databraryShare name="databraryShare"}}
                            </span>
                            No
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <span class="radio-holder">
                                {{radio-button value="yes" checked=databraryShare name="databraryShare"}}
                            </span>
                            Yes
                        </label>
                    </div>
                    <div class="extra-info">
                        Only authorized researchers will have access to information in the library.
                        Researchers who are granted access must agree to maintain confidentiality and not use information
                        for commercial purposes. Data sharing will lead to faster progress in research on human development
                        and behavior. If you have any questions about the data-sharing library, please visit
                        <a href="https://nyu.databrary.org/" target="_blank" rel="noopener noreferrer">Databrary</a> or email
                        ethics@databrary.org.
                    </div>
                    {{#if showValidation}}
                        <p class="text text-danger">
                            {{validations.attrs.databraryShare.messages}}
                        </p>
                    {{/if}}
                    <hr>
                    <label><i class="fa fa-star"></i> Use of video clips and images:</label>
                    {{#if additionalVideoPrivacyText}}
                        <p>
                            {{exp-format additionalVideoPrivacyText}}
                        </p>
                    {{/if}}
                    <div class="radio">
                        <label>
                            <span class="radio-holder">
                                {{radio-button value="private" checked=useOfMedia name="useOfMedia"}}
                            </span>
                            <strong>Private:</strong> Video may only be viewed by authorized scientists:
                            {{#if (eq databraryShare "yes")}}
                                Lookit project staff, researchers working with {{experiment.contactInfo}} on the study "{{experiment.name}}," and authorized Databrary users.
                            {{else}}
                                Lookit project staff and researchers working with {{experiment.contactInfo}} on the study "{{experiment.name}}."
                            {{/if}}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <span class="radio-holder">
                                {{radio-button value="scientific" checked=useOfMedia name="useOfMedia"}}
                            </span>
                            <strong>Scientific and educational:</strong> Video may be shared for scientific or
                            educational purposes. For example, we might show a video clip in a talk at a scientific
                            conference or an undergraduate class about cognitive development, or include an image or
                            video in a scientific paper. In some circumstances, video or images may be available online,
                            for instance as supplemental material in a scientific paper.
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <span class="radio-holder">
                                {{radio-button value="public" checked=useOfMedia name="useOfMedia"}}
                            </span>
                            <strong>Publicity:</strong> Please select this option if you'd be excited about seeing your
                            child featured on the Lookit website or in a news article about this study! Your video may
                            be shared for publicity as well as scientific and educational purposes; it will never be
                            used for commercial purposes. Video clips shared may be available online to the general
                            public.
                        </label>
                    </div>
                    {{#if showValidation}}
                        <p class="text text-danger">
                            {{validations.attrs.useOfMedia.messages}}
                        </p>
                    {{/if}}
                </fieldset>
                <hr>
                <label>Withdrawal of video data </label>
                <label>
                    {{input type="checkbox" checked=withdrawal name="withdrawal"}}
                    <span class="extra-info">
                        Every video helps us, even if something went wrong! However, if you need
                        your video deleted (your spouse was discussing state secrets in the background, etc.), check
                        here to completely withdraw your video data from this session from the study. Only your consent
                        video will be retained and it may only be viewed by Lookit project staff and researchers working
                        with {{experiment.contactInfo}} on the study "{{experiment.name}}"; other video will be
                        deleted without viewing.
                    </span>
                </label>
                <hr>
                <div class="form-group">
                    <label>Your feedback:</label><br>
                    {{textarea class="input-text" value=feedback name="feedback" rows=3 cols=40}}
                </div>
                <hr>
                {{bs-button id="nextbutton" class="pull-right" defaultText="Submit" type="success" onClick=(action "continue")}}
            {{/bs-form}}


            {{!-- Withdrawal confirmation modal --}}
            {{#bs-modal open=showWithdrawalConfirmation onSubmit=(action "submitWithdrawalConfirmation") onHide=(action "hideWithdrawalConfirmation") as |modal|}}
                {{#modal.body}}
                    You have chosen to withdraw your video data from the study. Any video beyond your consent recording
                    will be deleted without viewing. Are you sure?
                {{/modal.body}}
                {{#modal.footer}}
                    {{#bs-button type="default" onClick=(action modal.close)}}Cancel{{/bs-button}}
                    {{#bs-button type="danger" buttonType="submit" onClick=(action modal.submit)}}Withdraw{{/bs-button}}
                {{/modal.footer}}
            {{/bs-modal}}
        {{else}}
            <h2>{{debriefing.title}}</h2>
            <p>
                {{#if debriefing.image}}
                    <img class="debriefingpic"
                         src={{debriefing.image.src}}
                         alt={{debriefing.image.alt}} >
                {{/if}}


                {{#if debriefing.text}}
                    {{exp-format debriefing.text}}
                {{/if}}

                {{#if debriefing.blocks}}
                    {{#each debriefing.blocks as |textBlock|}}
                        {{exp-text-block block=textBlock}}
                    {{/each}}
                {{/if}}

            </p>

            <hr>
            {{#if showShareButton}}
                <a class="btn btn-primary pull-left" target="_blank" rel="noopener noreferrer" href={{sharelink}} role="button">Share this study on Facebook!</a>
            {{/if}}
            {{bs-button class="pull-right" defaultText="Exit" type="success" onClick=(action "finish")}}
        {{/if}}
    </div>
</div>
