{{! template-lint-disable style-concatenation }}
<div class="row exp-lookit-exit-survey">
    <div class="col-md-8 col-md-offset-2">
        {{#if section1}}
            {{#bs-form}}
                <label>
                    <i class="fa fa-star"></i> {{t "exp-lookit-exit-survey.confirm-birthdate" }}:
                </label>
                {{bs-datetimepicker
                    format="MM/DD/YYYY"
                    pickDate=false
                    noIcon=true
                    allowInputToggle=true
                    updateDate=(action (mut birthDate))
                    maxDate=today}}
                <div class="extra-info">
                    {{ t "exp-lookit-exit-survey.why-birthdate" }}
                </div>
                {{#if showValidation}}
                    <p class="text text-danger">
                        {{validations.attrs.birthDate.messages}}
                    </p>
                {{/if}}
                <hr>

                <fieldset disabled={{withdrawal}} class={{if withdrawal "text-muted"}}>
                    <label>
                        <i class="fa fa-star"></i> {{ t "exp-lookit-exit-survey.q-databrary" }}
                    </label>
                    <div class="radio">
                        <label>
                            <span class="radio-holder">
                                {{radio-button value="no" checked=databraryShare name="databraryShare"}}
                            </span>
                            {{ t "No" }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <span class="radio-holder">
                                {{radio-button value="yes" checked=databraryShare name="databraryShare"}}
                            </span>
                            {{ t "Yes" }}
                        </label>
                    </div>
                    <div class="extra-info">
                        {{ t "exp-lookit-exit-survey.databrary-info" htmlSafe=true }}
                    </div>
                    {{#if showValidation}}
                        <p class="text text-danger">
                            {{validations.attrs.databraryShare.messages}}
                        </p>
                    {{/if}}
                    <hr>
                    <label><i class="fa fa-star"></i> {{ t "exp-lookit-exit-survey.acceptable-use-header" }}:</label>
                    {{#if additionalVideoPrivacyText}}
                        <p>
                            {{exp-format additionalVideoPrivacyText}}
                        </p>
                    {{/if}}
                    <div class="radio">
                        <label>
                            <span class="radio-holder">
                                {{radio-button value="private" checked=useOfMedia name="useOfMedia"}}
                            </span>
                            {{ t "exp-lookit-exit-survey.private-option-part-1" htmlSafe=true }}:
                            {{#if (eq databraryShare "yes")}}
                                {{ t "exp-lookit-exit-survey.private-option-list-with-databrary" contact=experiment.contactInfo name=experiment.name }}
                            {{else}}
                                {{ t "exp-lookit-exit-survey.private-option-list-without-databrary" contact=experiment.contactInfo name=experiment.name }}
                            {{/if}}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <span class="radio-holder">
                                {{radio-button value="scientific" checked=useOfMedia name="useOfMedia"}}
                            </span>
                            {{ t "exp-lookit-exit-survey.scientific-option" htmlSafe=true}}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <span class="radio-holder">
                                {{radio-button value="public" checked=useOfMedia name="useOfMedia"}}
                            </span>
                            {{ t "exp-lookit-exit-survey.publicity-option" htmlSafe=true }}
                        </label>
                    </div>
                    {{#if showValidation}}
                        <p class="text text-danger">
                            {{validations.attrs.useOfMedia.messages}}
                        </p>
                    {{/if}}
                </fieldset>
                <hr>
                <label>{{ t "exp-lookit-exit-survey.withdrawal-header" }} </label>
                <label>
                    {{input type="checkbox" checked=withdrawal name="withdrawal"}}
                    <span class="extra-info">
                        {{ t "exp-lookit-exit-survey.withdrawal-details" name=experiment.name contact=experiment.contactInfo }}
                    </span>
                </label>
                <hr>
                <div class="form-group">
                    <label>{{ t "exp-lookit-exit-survey.feedback-label" }}:</label><br>
                    {{textarea class="input-text" value=feedback name="feedback" rows=3 cols=40}}
                </div>
                <hr>
                {{bs-button id="nextbutton" class="pull-right" defaultText=(t "Submit") type="success" onClick=(action "continue")}}
            {{/bs-form}}


            {{!-- Withdrawal confirmation modal --}}
            {{#bs-modal open=showWithdrawalConfirmation onSubmit=(action "submitWithdrawalConfirmation") onHide=(action "hideWithdrawalConfirmation") as |modal|}}
                {{#modal.body}}
                    {{ t "exp-lookit-exit-survey.withdrawal-confirmation" }}
                {{/modal.body}}
                {{#modal.footer}}
                    {{#bs-button type="default" onClick=(action modal.close)}} {{ t "Cancel" }}{{/bs-button}}
                    {{#bs-button type="danger" buttonType="submit" onClick=(action modal.submit)}}{{ t "exp-lookit-exit-survey.Withdraw" }}{{/bs-button}}
                {{/modal.footer}}
            {{/bs-modal}}
        {{else}}
            <h2>{{debriefing.title}}</h2>
            <p>
                {{#if debriefing.image}}
                    <img class="debriefingpic"
                         src={{debriefing.image.src}}
                         alt={{debriefing.image.alt}} >
                {{/if}}


                {{#if debriefing.text}}
                    {{exp-format debriefing.text}}
                {{/if}}

                {{#if debriefing.blocks}}
                    {{#each debriefing.blocks as |textBlock|}}
                        {{exp-text-block block=textBlock}}
                    {{/each}}
                {{/if}}

            </p>

            <hr>
            {{#if showShareButton}}
                <a class="btn btn-primary pull-left" target="_blank" rel="noopener noreferrer" href={{sharelink}} role="button">{{ t "exp-lookit-exit-survey.facebook-share" }}</a>
            {{/if}}
            {{bs-button class="pull-right" defaultText=(t "Exit") type="success" onClick=(action "finish")}}
        {{/if}}
    </div>
</div>
