<div class="center-text">
    <span class="exp-text-medium">
        {{t "consent-template-2.header" }}: {{experiment.name}}
    </span>
</div>

<br>
<div class="video-consent-body">

    <p> {{t "consent-template-2.intro-sentence" name=PIName institution=institution experiment=experiment.name }}</p>

    <p class="exp-text-medium"> {{t "consent-template-2.purpose-header" }} </p>
    <p> {{purpose}} </p>

    <p class="exp-text-medium"> {{t "consent-template-2.procedures-header" }} </p>
    <p> {{t "consent-template-2.duration-statement" duration=experiment.duration }} {{procedures}} </p>

    <p class="exp-text-medium"> {{t "consent-template-2.participation-header" }} </p>
    <p> {{t "consent-template-2.participation-content" }}</p>

    <p class="exp-text-medium"> {{t "consent-template-2.payment-header" }} </p>
    <p> {{payment}} </p>

    <p class="exp-text-medium"> {{t "consent-template-2.data-collection-header" }} </p>
    <p> {{t "consent-template-2.data-collection-1" }}</p>
    <p> {{t "consent-template-2.data-collection-2" }}</p>
    <p> {{t "consent-template-2.data-collection-3" }}</p>

    <p class="exp-text-medium"> {{t "consent-template-2.data-use-researchers-header" }} </p>
    <p>{{t "consent-template-2.data-use-researchers-content" name=PIName institution=institution }}</p>
    {{#if datause}}
        <p>
            {{datause}}
        </p>
    {{/if}}

    <p class="exp-text-medium"> {{t "consent-template-2.data-use-Lookit-header" }} </p>
    <p> {{t "consent-template-2.data-use-Lookit-content" }} </p>

    <p class="exp-text-medium"> {{t "consent-template-2.publication-header" }}</p>
    <p> {{t "consent-template-2.publication-contents" }}</p>

    {{#if additional_segments}}
        {{#each additional_segments as |segment|}}
            <p class="exp-text-medium"> {{segment.title}} </p>
            <p> {{exp-format segment.text}} </p>
        {{/each}}
    {{/if}}

    <p class="exp-text-medium"> {{t "consent-template-2.research-subject-rights-header" }} </p>
    <p> {{research_rights_statement}} </p>

    {{#if gdpr}}
        <p class="exp-text-medium"> {{t "consent-template-2.gdpr-header" }} </p>
        <p> {{t "consent-template-2.gdpr-personal" }}: {{gdpr_personal_data}}. {{t "consent-template-2.gdpr-sensitive" }}: {{gdpr_sensitive_data}}</p>

        <p> {{t "consent-template-2.gdpr-2" }} </p>
    {{/if}}


    <p class="exp-text-medium"> {{t "consent-template-2.contact-header" }}</p>
    <p> {{t "consent-template-2.contact-statement-1" name=PIName institution=institution contact=PIContact }} </p>
    <p> {{t "consent-template-2.contact-statement-2" }}</p>

</div>