
<div class="row exp-lookit-video-consent">
    <div class="col-md-7">

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">1.</span>
            <span class="video-consent-direction">Read through this consent document:</span>
            <button type="button" id="downloadbutton" class="btn btn-outline-dark right" {{action 'download'}}>( <i class="fa fa-download"></i> Download )</button>
        </div>

        <div class="center">

            <div class="well video-consent-doc" id="consent-form-text">
                <div class="center-text">
                    {{! template-lint-disable no-triple-curlies }}
                    <span class="exp-text-medium">
                        {{{title}}}
                    </span>
                </div>
                <br>
                <div class="video-consent-body">
                    {{#each blocks as |prompt|}}
                        {{exp-text-block block=prompt}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-5">

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">2.</span>
            <span class="video-consent-direction">
                Click to
                <button type="button" disabled={{disableRecord}} class="center btn btn-primary pull-left" {{ action 'record' }}>
                    start consent recording...
                </button>
            </span>

        </div>

        <div class="row recorder-container">
            <div id="recorder" class="col-xs-12"></div>
        </div>

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">3.</span>
            <span class="video-consent-direction">Read the statement below <em class="video-consent-outloud"> out loud: </em></span>
        </div>

        {{!--
          <blockquote>
            <p>
              If you're ready to participate, please make a consent recording to get started! Press "record" and then read the statement below (in green) out loud.
            </p>
          </blockquote>
          --}}
        <div class="well video-consent-prompt">
            <span class="breaklines exp-lookit-video-consent-prompt">{{prompt}}</span>
        </div>

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">4.</span>
            <span class="video-consent-direction">
                Click to
                <button type="button" id="submitbutton" disabled="disabled" class="btn btn-success pull-right" {{ action 'finish' }}>submit!</button>
            </span>
        </div>

    </div>
</div>

