<div class="exp-video-config-quality">

    <div class="row">

        <div class="col-md-12">

            <div class="vertical-pad"></div>

            <h2> {{title}} </h2>

        </div>

    </div>

    <div class="row">

        <div class="col-md-8">

            <p>
                {{exp-format introText}}
            </p>

        </div>

        <div class="col-md-4">
            <button type="button" id="reloadButton" class="btn btn-default" {{action "reloadRecorder"}}>
                {{ t "Reload webcam" }}
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8">

            <div class="list-container">
                <ol>

                    {{#each instructionBlocks as |instruction idx|}}
                        <li id="instructions-{{idx}}">
                            {{exp-text-block block=instruction}}

                            {{#if requireItemConfirmation}}
                                <div class="form-check form-check-inline">
                                    <div class="checkbox-container">
                                        <input class="form-check-input" type="checkbox" id="checkbox-{{idx}}" value="didit-{{idx}}" onChange={{action "checkboxChanged" idx}}>
                                        <label class="form-check-label" for="checkbox-{{idx}}">{{completedItemText}}</label>
                                    </div>
                                </div>
                            {{/if}}

                        </li>

                    {{/each}}

                </ol>
            </div>

        </div>

        <div class="col-md-4">

            <div class="row recorder-container">
                <div id="recorder" class="col-xs-12">
                    <span id="recordingStatus">
                        <i class="fa fa-circle text-danger Blink" id="recordingIndicator"></i>
                    </span>
                </div>
            </div>

            <div class="recording-menu">
                <button type="button" id="recordbutton" disabled="disabled" class="menu-btn" {{ action "record" }}><i class="fa fa-video-camera"></i></button>
                <button type="button" id="stopbutton" disabled="disabled" class="menu-btn" {{ action "stop" }}><i class="fa fa-stop"></i></button>
                <button type="button" id="playbutton" disabled="disabled" class="menu-btn" {{ action "playvideo" }}><i class="fa fa-play"></i></button>
            </div>

            <div class="recording-instructions">
                <p>{{exp-format recordingInstructionText}}</p>
            </div>
        </div>

    </div>

    <div class="row footer">

        <div class="col-md-12">
            {{#if showCheckboxWarning}}
                <p class="warning">
                    {{t "exp-video-config-quality.checkbox-warning" completedItemText=completedItemText}}
                </p>
            {{/if}}

            {{#if showRecorderWarning}}
                <p class="warning">
                    {{ t "exp-video-config-quality.recording-warning" }}
                </p>
            {{/if}}
            <button type="button" id="nextbutton" class="btn btn-success pull-right nextButton {{if readyToProceed "" "disabled"}}" {{ action "finish" }} > {{ t "Next" }} </button>
        </div>

    </div>

</div>
