<div class="exp-lookit-games" id="exp-lookit-games-container">
     <div class="row recorder-container video-recorder-hidden">
      <div id="recorder" class="col-xs-12">
      </div>
    </div>

    {{#if showIntro}}
      <div id="intro" class="instr-page-container">
        <p>{{instructions}}</p>
        <img src={{source}} class="intro"
                alt="background"/>
        <button class="intro-button" {{ action 'next' }}/>
      </div>

    {{/if}}

    {{#if showInstructions}}
      <div class="instr-page-container">
        <p>{{instructions}}</p>
        <img src={{source}} alt="" />
        <button class="btn btn-success pull-right" {{ action 'next' }} >Next</button>
      </div>

    {{/if}}

    {{#if showProgress}}

        <div class="box-set">
          <p>{{instructions}}</p>
            <input type="image" src={{sourceButton}} class={{buttonPosition}} {{ action 'next' }}  alt="Submit"/>
            <img src={{machine1_url}} class="box box-1" alt="Submit">
            <img src={{machine2_url}}  class="box box-2" alt="Submit">
            <img src={{machine3_url}}  class="box box-3" alt="Submit">
            <img src={{machine4_url}}  class="box box-4" alt="Submit">
            <img src={{machine5_url}}  class="box box-5" alt="Submit">
            <img src={{arrow1_url}}  class="arrow arrow-1" alt="Submit">
            <img src={{arrow2_url}}  class="arrow arrow-2" alt="Submit">
            <img src={{arrow3_url}}  class="arrow arrow-3" alt="Submit">
            <img src={{arrow4_url}}  class="arrow arrow-4" alt="Submit">
            <img src={{arrow5_url}}  class="arrow arrow-5" alt="Submit">
            <img src={{exit_url}}   class="door" alt="Submit">
        </div>

    {{/if}}

    {{#if playGame}}
      <canvas  id="gamesCanvas"  height="0" width="0"></canvas>
    {{/if}}
</div>



