<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css" id="site_styles">
    <link rel="stylesheet" href="{{yuiGridsUrl}}">
    <link rel="icon" href="{{projectAssets}}/favicon.ico">
    <script src="{{yuiSeedUrl}}"></script>
</head>
<body class="yui3-skin-sam">
<div id="doc">
    <div id="bd" class="yui3-g">
        <div class="yui3-u-1-5">
            <div id="docs-sidebar" class="sidebar apidocs">
              <h2 style="display:inline;">
              <div>
                <img style="float:right; vertical-align:middle;" src="{{projectAssets}}/css/logo.png" height="70">
                <span>Lookit<br> component<br> docs</span>

                {{#if is_release}}
                    <p>Version: {{version}}</p>
                {{else}}
                    <p>Version: latest <br>({{version}})</p>
                    <select name="select_version" onchange="location = this.value;">
                        <option value="">--Select different version--</option>
                        {{#each other_versions}}
                            <option value="releases/{{this}}/">{{this}}</option>
                        {{/each}}
                    </select>
                {{/if}}
              </div>

              </h2>


              {{>sidebar}}
            </div>
        </div>
        <div class="yui3-u-4-5">
            {{>options}}
            <div class="apidocs">
                <div id="docs-main">
                    <div class="content">
{{>layout_content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
<script>prettyPrint();</script>
<script src="{{projectAssets}}/js/yui-prettify.js"></script>
<script src="{{projectAssets}}/../api.js"></script>
<script src="{{projectAssets}}/js/api-filter.js"></script>
<script src="{{projectAssets}}/js/api-list.js"></script>
<script src="{{projectAssets}}/js/api-search.js"></script>
<script src="{{projectAssets}}/js/apidocs.js"></script>
</body>
</html>
