<div class="row exp-lookit-video-consent">
    <div class="col-sm-7">

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">1.</span>
            <span class="video-consent-direction">{{ t "exp-lookit-video-consent.consent-step-1" }}:</span>
            <button type="button" id="downloadbutton" class="btn btn-outline-dark right" {{action "download"}}>( <i class="fa fa-download"></i> {{ t "exp-lookit-video-consent.download"}} )</button>
        </div>

        <div class="center">

            <div class="well video-consent-doc" id="consent-form-text">

                {{#if (eq template "consent_001")}}

                    <ConsentTemplate001
                        @experiment={{experiment}}
                        @PIName={{PIName}}
                        @institution={{institution}}
                        @purpose={{purpose}}
                        @payment={{payment}}
                        @procedures={{procedures}}
                        @datause={{datause}}
                        @additional_segments={{additional_segments}}
                        @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_002")}}

                    <ConsentTemplate002
                        @experiment={{experiment}}
                        @PIName={{PIName}}
                        @institution={{institution}}
                        @purpose={{purpose}}
                        @payment={{payment}}
                        @procedures={{procedures}}
                        @datause={{datause}}
                        @additional_segments={{additional_segments}}
                        @research_rights_statement={{research_rights_statement}}
                        @gdpr={{gdpr}}
                        @gdpr_personal_data={{gdpr_personal_data}}
                        @gdpr_sensitive_data={{gdpr_sensitive_data}}
                        @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_003")}}

                    <ConsentTemplate003
                        @experiment={{experiment}}
                        @PIName={{PIName}}
                        @institution={{institution}}
                        @purpose={{purpose}}
                        @payment={{payment}}
                        @procedures={{procedures}}
                        @datause={{datause}}
                        @additional_segments={{additional_segments}}
                        @research_rights_statement={{research_rights_statement}}
                        @gdpr={{gdpr}}
                        @gdpr_personal_data={{gdpr_personal_data}}
                        @gdpr_sensitive_data={{gdpr_sensitive_data}}
                        @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_004")}}

                    <ConsentTemplate004
                            @experiment={{experiment}}
                            @PIName={{PIName}}
                            @institution={{institution}}
                            @purpose={{purpose}}
                            @payment={{payment}}
                            @procedures={{procedures}}
                            @datause={{datause}}
                            @additional_segments={{additional_segments}}
                            @research_rights_statement={{research_rights_statement}}
                            @gdpr={{gdpr}}
                            @gdpr_personal_data={{gdpr_personal_data}}
                            @gdpr_sensitive_data={{gdpr_sensitive_data}}
                            @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_005")}}

                    <ConsentTemplate005
                            @experiment={{experiment}}
                            @PIName={{PIName}}
                            @institution={{institution}}
                            @purpose={{purpose}}
                            @payment={{payment}}
                            @procedures={{procedures}}
                            @datause={{datause}}
                            @additional_segments={{additional_segments}}
                            @research_rights_statement={{research_rights_statement}}
                            @gdpr={{gdpr}}
                            @gdpr_personal_data={{gdpr_personal_data}}
                            @gdpr_sensitive_data={{gdpr_sensitive_data}}
                            @PIContact={{PIContact}}

                            @risk_statement={{risk_statement}}
                            @voluntary_participation={{voluntary_participation}}
                            @include_databrary={{include_databrary}}
                            @additional_video_privacy_statement={{additional_video_privacy_statement}}
                            @purpose_header={{purpose_header}}
                            @procedures_header={{procedures_header}}
                            @participation_header={{participation_header}}
                            @risk_header={{risk_header}}
                            @benefits_header={{benefits_header}}
                            @summary_statement={{summary_statement}}
                            @prompt_only_adults={{prompt_only_adults}}
                            @private_level_only={{private_level_only}}
                            @omit_injury_phrase={{omit_injury_phrase}}
                    />

                {{else if (eq template "consent_garden")}}

                    <ConsentGarden
                            @experiment={{experiment}}
                            @PIName={{PIName}}
                            @PIContact={{PIContact}}
                            @institution={{institution}}
                            @study_info_description={{study_info_description}}
                            @purpose_content={{purpose_content}}
                            @eligibility_content={{eligibility_content}}
                            @procedures_content={{procedures_content}}
                            @benefits_content={{benefits_content}}
                            @data_sharing_learn={{data_sharing_learn}}
                            @irb_contact={{irb_contact}}

                            @include_databrary={{include_databrary}}
                            @summary_statement={{summary_statement}}
                            @risk_content_additional={{risk_content_additional}}
                            @risk_content_discontinue_options={{risk_content_discontinue_options}}
                            @risk_content_breach_of_confidentiality={{risk_content_breach_of_confidentiality}}
                            @data_collection_omit_video={{data_collection_omit_video}}
                            @include_irb_contact_statement={{include_irb_contact_statement}}
                            @irb_extra={{irb_extra}}
                            @private_level_only={{private_level_only}}
                            @additional_video_privacy_statement={{additional_video_privacy_statement}}
                            @additional_segments={{additional_segments}}

                            @header={{header}}
                            @intro_sentence={{intro_sentence}}
                            @overview_header={{overview_header}}
                            @overview_content={{overview_content}}
                            @study_info_header={{study_info_header}}
                            @study_info_content={{study_info_content}}
                            @purpose_header={{purpose_header}}
                            @elibigility_header={{elibigility_header}}
                            @procedures_header={{procedures_header}}
                            @duration_statement={{duration_statement}}
                            @payment_header={{payment_header}}
                            @payment_content={{payment_content}}
                            @benefits_header={{benefits_header}}
                            @risk_header={{risk_header}}
                            @risk_content={{risk_content}}
                            @data_collection_header={{data_collection_header}}
                            @data_collection_content={{data_collection_content}}
                            @data_use_header={{data_use_header}}
                            @data_use_content={{data_use_content}}
                            @data_access_header={{data_access_header}}
                            @data_access_content={{data_access_content}}
                            @data_management_header={{data_management_header}}
                            @data_management_content={{data_management_content}}
                            @data_sharing_header={{data_sharing_header}}
                            @data_sharing_content={{data_sharing_content}}
                            @research_rights_irb_header={{research_rights_irb_header}}
                            @research_rights_irb_content={{research_rights_irb_content}}
                            @lookit_info_header={{lookit_info_header}}
                            @lookit_info_content={{lookit_info_content}}
                            @voluntary_participation_header={{voluntary_participation_header}}
                            @voluntary_participation_content={{voluntary_participation_content}}
                            @video_sharing_header={{video_sharing_header}}
                            @video_sharing_consent={{video_sharing_consent}}
                            @video_sharing_study={{video_sharing_study}}
                            @databrary_content={{databrary_content}}
                            @publication_header={{publication_header}}
                            @publication_content={{publication_content}}
                            @contact_header={{contact_header}}
                            @contact_content={{contact_content}}
                    />

                {{/if}}

            </div>
        </div>
    </div>


    <div class="col-sm-5">

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">2.</span>
            <span class="video-consent-direction">
                {{ t "exp-lookit-video-consent.click-to"}}
                <button type="button" id="recordbutton" disabled={{disableRecord}} class="btn btn-primary pull-left center" {{ action "record" }}>
                    {{ t "exp-lookit-video-consent.start-consent-recording" }}... <i class="fa fa-video-camera"></i>
                </button>
            </span>

        </div>

        <div class="row recorder-container">
            <div id="recorder" class="recorder col-xs-12">
                <span id="recordingStatus">
                    <i class="fa fa-circle text-danger Blink" id="recordingIndicator"></i>
                    <span id="recordingText"> {{ t "exp-lookit-video-consent.Recording" }}... </span>
                </span>
            </div>
        </div>

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">3.</span>

            <span class="video-consent-direction">
                {{ t "exp-lookit-video-consent.read-statement-below" htmlSafe=true }}
                {{#if (not (or (eq template "consent_003") (eq template "consent_002") (eq template "consent_001")))}} ({{ t "exp-lookit-video-consent.signed-alternative" }}){{/if}}:
            </span>
        </div>

        <div class="well video-consent-prompt">
            <span class="breaklines exp-lookit-video-consent-prompt">"{{#if consent_statement_text}}{{consent_statement_text}}{{else if prompt_only_adults}}{{ t "exp-lookit-video-consent.prompt-adult-only"}}{{else}}{{t "exp-lookit-video-consent.prompt"}}{{/if}}"</span>
        </div>

        {{#if prompt_all_adults}}
            <div class="video-consent-numbered-direction">
                <span class="video-consent-number">4.</span>
                <span class="video-consent-direction">{{ t "exp-lookit-video-consent.additional-adult-question" }}:</span>
            </div>

            <div class="well video-consent-prompt">
                <span class="breaklines exp-lookit-video-consent-prompt">"{{ t "exp-lookit-video-consent.additional-adult-prompt" }}" </span>
            </div>
        {{/if}}

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">
                {{#if prompt_all_adults}}
                    5.
                {{else}}
                    4.
                {{/if}}
            </span>
            <span class="video-consent-direction">
                {{ t "exp-lookit-video-consent.click-to"}}
                <button type="button" id="stopbutton" disabled="disabled" class="btn btn-primary pull-right" {{ action "stop" }}>{{ t "exp-lookit-video-consent.stop-recording" }} <i class="fa fa-stop"></i></button>
            </span>
        </div>

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">
                {{#if prompt_all_adults}}
                    6.
                {{else}}
                    5.
                {{/if}}
            </span>
            <span class="video-consent-direction">
                <button type="button"  id="playbutton" disabled="disabled" class="btn btn-primary pull-right" {{ action "playvideo" }}>{{ t "exp-lookit-video-consent.play-consent-video-button" }} <i class="fa fa-play"></i></button> {{ t "exp-lookit-video-consent.review-video" }}
            </span>
        </div>

        {{#if showWarning}}

            {{#if hasMadeVideo}}
                {{#unless hasCheckedVideo}}
                    <p class="warning">
                        {{ t "exp-lookit-video-consent.play-video-warning" }}
                    </p>
                {{/unless}}
            {{else}}
                <p class="warning">
                    {{ t "exp-lookit-video-consent.consent-recording-warning" }}
                </p>
            {{/if}}
        {{/if}}

        <button type="button" id="submitbutton" class="btn btn-success pull-right  {{if (and hasMadeVideo hasCheckedVideo) "" "disabled"}}" {{ action "finish" }}>{{ t "Submit" }} </button>

    </div>
</div>


