<div class="row exp-lookit-video-consent">
    <div class="col-sm-7">

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">1.</span>
            <span class="video-consent-direction">{{ t "exp-lookit-video-consent.consent-step-1" }}:</span>
            <button type="button" id="downloadbutton" class="btn btn-outline-dark right" {{action "download"}}>( <i class="fa fa-download"></i> {{ t "exp-lookit-video-consent.download"}} )</button>
        </div>

        <div class="center">

            <div class="well video-consent-doc" id="consent-form-text">

                {{#if (eq template "consent_001")}}

                    <ConsentTemplate001
                        @experiment={{experiment}}
                        @PIName={{PIName}}
                        @institution={{institution}}
                        @purpose={{purpose}}
                        @payment={{payment}}
                        @procedures={{procedures}}
                        @datause={{datause}}
                        @additional_segments={{additional_segments}}
                        @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_002")}}

                    <ConsentTemplate002
                        @experiment={{experiment}}
                        @PIName={{PIName}}
                        @institution={{institution}}
                        @purpose={{purpose}}
                        @payment={{payment}}
                        @procedures={{procedures}}
                        @datause={{datause}}
                        @additional_segments={{additional_segments}}
                        @research_rights_statement={{research_rights_statement}}
                        @gdpr={{gdpr}}
                        @gdpr_personal_data={{gdpr_personal_data}}
                        @gdpr_sensitive_data={{gdpr_sensitive_data}}
                        @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_003")}}

                    <ConsentTemplate003
                        @experiment={{experiment}}
                        @PIName={{PIName}}
                        @institution={{institution}}
                        @purpose={{purpose}}
                        @payment={{payment}}
                        @procedures={{procedures}}
                        @datause={{datause}}
                        @additional_segments={{additional_segments}}
                        @research_rights_statement={{research_rights_statement}}
                        @gdpr={{gdpr}}
                        @gdpr_personal_data={{gdpr_personal_data}}
                        @gdpr_sensitive_data={{gdpr_sensitive_data}}
                        @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_004")}}

                    <ConsentTemplate004
                            @experiment={{experiment}}
                            @PIName={{PIName}}
                            @institution={{institution}}
                            @purpose={{purpose}}
                            @payment={{payment}}
                            @procedures={{procedures}}
                            @datause={{datause}}
                            @additional_segments={{additional_segments}}
                            @research_rights_statement={{research_rights_statement}}
                            @gdpr={{gdpr}}
                            @gdpr_personal_data={{gdpr_personal_data}}
                            @gdpr_sensitive_data={{gdpr_sensitive_data}}
                            @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_005")}}

                    <ConsentTemplate005
                            @experiment={{experiment}}
                            @PIName={{PIName}}
                            @institution={{institution}}
                            @purpose={{purpose}}
                            @payment={{payment}}
                            @procedures={{procedures}}
                            @datause={{datause}}
                            @additional_segments={{additional_segments}}
                            @research_rights_statement={{research_rights_statement}}
                            @gdpr={{gdpr}}
                            @gdpr_personal_data={{gdpr_personal_data}}
                            @gdpr_sensitive_data={{gdpr_sensitive_data}}
                            @PIContact={{PIContact}}

                            @risk_statement={{risk_statement}}
                            @voluntary_participation={{voluntary_participation}}
                            @include_databrary={{include_databrary}}
                            @additional_video_privacy_statement={{additional_video_privacy_statement}}
                            @purpose_header={{purpose_header}}
                            @procedures_header={{procedures_header}}
                            @participation_header={{participation_header}}
                            @risk_header={{risk_header}}
                            @benefits_header={{benefits_header}}
                            @summary_statement={{summary_statement}}
                            @prompt_only_adults={{prompt_only_adults}}
                    />

                {{/if}}

            </div>
        </div>
    </div>


    <div class="col-sm-5">

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">2.</span>
            <span class="video-consent-direction">
                {{ t "exp-lookit-video-consent.click-to"}}
                <button type="button" id="recordbutton" disabled={{disableRecord}} class="btn btn-primary pull-left center" {{ action "record" }}>
                    {{ t "exp-lookit-video-consent.start-consent-recording" }}... <i class="fa fa-video-camera"></i>
                </button>
            </span>

        </div>

        <div class="row recorder-container">
            <div id="recorder" class="recorder col-xs-12">
                <span id="recordingStatus">
                    <i class="fa fa-circle text-danger Blink" id="recordingIndicator"></i>
                    <span id="recordingText"> {{ t "exp-lookit-video-consent.Recording" }}... </span>
                </span>
            </div>
        </div>

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">3.</span>

            <span class="video-consent-direction">
                {{ t "exp-lookit-video-consent.read-statement-below" htmlSafe=true }}
                {{#if (not (or (eq template "consent_003") (eq template "consent_002") (eq template "consent_001")))}} ({{ t "exp-lookit-video-consent.signed-alternative" }}){{/if}}:
            </span>
        </div>

        <div class="well video-consent-prompt">
            <span class="breaklines exp-lookit-video-consent-prompt">"{{#if prompt_only_adults}}{{ t "exp-lookit-video-consent.prompt-adult-only" }}{{else}}{{ t "exp-lookit-video-consent.prompt" }}{{/if}}"</span>
        </div>

        {{#if prompt_all_adults}}
            <div class="video-consent-numbered-direction">
                <span class="video-consent-number">4.</span>
                <span class="video-consent-direction">{{ t "exp-lookit-video-consent.additional-adult-question" }}:</span>
            </div>

            <div class="well video-consent-prompt">
                <span class="breaklines exp-lookit-video-consent-prompt">"{{ t "exp-lookit-video-consent.additional-adult-prompt" }}" </span>
            </div>
        {{/if}}

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">
                {{#if prompt_all_adults}}
                    5.
                {{else}}
                    4.
                {{/if}}
            </span>
            <span class="video-consent-direction">
                Click to
                <button type="button" id="stopbutton" disabled="disabled" class="btn btn-primary pull-right" {{ action "stop" }}>{{ t "exp-lookit-video-consent.stop-recording" }} <i class="fa fa-stop"></i></button>
            </span>
        </div>

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">
                {{#if prompt_all_adults}}
                    6.
                {{else}}
                    5.
                {{/if}}
            </span>
            <span class="video-consent-direction">
                <button type="button"  id="playbutton" disabled="disabled" class="btn btn-primary pull-right" {{ action "playvideo" }}>{{ t "exp-lookit-video-consent.play-consent-video-button" }} <i class="fa fa-play"></i></button> {{ t "exp-lookit-video-consent.review-video" }}
            </span>
        </div>

        {{#if showWarning}}

            {{#if hasMadeVideo}}
                {{#unless hasCheckedVideo}}
                    <p class="warning">
                        {{ t "exp-lookit-video-consent.play-video-warning" }}
                    </p>
                {{/unless}}
            {{else}}
                <p class="warning">
                    {{ t "exp-lookit-video-consent.consent-recording-warning" }}
                </p>
            {{/if}}
        {{/if}}

        <button type="button" id="submitbutton" class="btn btn-success pull-right  {{if (and hasMadeVideo hasCheckedVideo) "" "disabled"}}" {{ action "finish" }}>{{ t "Submit" }} </button>

    </div>
</div>


