<div class="row exp-lookit-video-consent">
    <div class="col-sm-7">

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">1.</span>
            <span class="video-consent-direction">Read through this consent document:</span>
            <button type="button" id="downloadbutton" class="btn btn-outline-dark right" {{action "download"}}>( <i class="fa fa-download"></i> Download )</button>
        </div>

        <div class="center">

            <div class="well video-consent-doc" id="consent-form-text">

                {{#if (eq template "consent_001")}}

                    <ConsentTemplate001
                        @experiment={{experiment}}
                        @PIName={{PIName}}
                        @institution={{institution}}
                        @purpose={{purpose}}
                        @payment={{payment}}
                        @procedures={{procedures}}
                        @datause={{datause}}
                        @additional_segments={{additional_segments}}
                        @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_002")}}

                    <ConsentTemplate002
                        @experiment={{experiment}}
                        @PIName={{PIName}}
                        @institution={{institution}}
                        @purpose={{purpose}}
                        @payment={{payment}}
                        @procedures={{procedures}}
                        @datause={{datause}}
                        @additional_segments={{additional_segments}}
                        @research_rights_statement={{research_rights_statement}}
                        @gdpr={{gdpr}}
                        @gdpr_personal_data={{gdpr_personal_data}}
                        @gdpr_sensitive_data={{gdpr_sensitive_data}}
                        @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_003")}}

                    <ConsentTemplate003
                        @experiment={{experiment}}
                        @PIName={{PIName}}
                        @institution={{institution}}
                        @purpose={{purpose}}
                        @payment={{payment}}
                        @procedures={{procedures}}
                        @datause={{datause}}
                        @additional_segments={{additional_segments}}
                        @research_rights_statement={{research_rights_statement}}
                        @gdpr={{gdpr}}
                        @gdpr_personal_data={{gdpr_personal_data}}
                        @gdpr_sensitive_data={{gdpr_sensitive_data}}
                        @PIContact={{PIContact}}
                    />

                {{else if (eq template "consent_004")}}

                    <ConsentTemplate004
                            @experiment={{experiment}}
                            @PIName={{PIName}}
                            @institution={{institution}}
                            @purpose={{purpose}}
                            @payment={{payment}}
                            @procedures={{procedures}}
                            @datause={{datause}}
                            @additional_segments={{additional_segments}}
                            @research_rights_statement={{research_rights_statement}}
                            @gdpr={{gdpr}}
                            @gdpr_personal_data={{gdpr_personal_data}}
                            @gdpr_sensitive_data={{gdpr_sensitive_data}}
                            @PIContact={{PIContact}}
                    />

                {{/if}}

            </div>
        </div>
    </div>


    <div class="col-sm-5">

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">2.</span>
            <span class="video-consent-direction">
                Click to
                <button type="button" id="recordbutton" disabled={{disableRecord}} class="btn btn-primary pull-left center" {{ action "record" }}>
                    start consent recording... <i class="fa fa-video-camera"></i>
                </button>
            </span>

        </div>

        <div class="row recorder-container">
            <div id="recorder" class="recorder col-xs-12">
                <span id="recordingStatus">
                    <i class="fa fa-circle text-danger Blink" id="recordingIndicator"></i>
                    <span id="recordingText"> Recording... </span>
                </span>
            </div>
        </div>

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">3.</span>
<span class="video-consent-direction">Read the statement below <em class="video-consent-outloud"> out loud</em>{{#if (not (or (eq template "consent_003") (eq template "consent_002") (eq template "consent_001")))}} (or in ASL){{/if}}: </span>
        </div>

        <div class="well video-consent-prompt">
            <span class="breaklines exp-lookit-video-consent-prompt">"I have read and understand the consent document. I am this child's parent or legal guardian and we both agree to participate in this study."</span>
        </div>

        {{#if prompt_all_adults}}
            <div class="video-consent-numbered-direction">
                <span class="video-consent-number">4.</span>
                <span class="video-consent-direction">Is another adult there too? If so, each additional adult should read out loud:</span>
            </div>

            <div class="well video-consent-prompt">
                <span class="breaklines exp-lookit-video-consent-prompt">"I have read and understand the consent document. I also agree to participate in this study." </span>
            </div>
        {{/if}}

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">
                {{#if prompt_all_adults}}
                    5.
                {{else}}
                    4.
                {{/if}}
            </span>
            <span class="video-consent-direction">
                Click to
                <button type="button" id="stopbutton" disabled="disabled" class="btn btn-primary pull-right" {{ action "stop" }}>stop recording <i class="fa fa-stop"></i></button>
            </span>
        </div>

        <div class="video-consent-numbered-direction">
            <span class="video-consent-number">
                {{#if prompt_all_adults}}
                    6.
                {{else}}
                    5.
                {{/if}}
            </span>
            <span class="video-consent-direction">
                <button type="button"  id="playbutton" disabled="disabled" class="btn btn-primary pull-right" {{ action "playvideo" }}>Play the consent video <i class="fa fa-play"></i></button> to make sure your video was recorded. (If not, you can try again!)
            </span>
        </div>

        {{#if showWarning}}

            {{#if hasMadeVideo}}
                {{#unless hasCheckedVideo}}
                    <p class="warning">
                        Please play your video to make sure you can hear the consent statement!
                    </p>
                {{/unless}}
            {{else}}
                <p class="warning">
                    Please make a consent recording to continue.
                </p>
            {{/if}}
        {{/if}}

        <button type="button" id="submitbutton" class="btn btn-success pull-right  {{if (and hasMadeVideo hasCheckedVideo) "" "disabled"}}" {{ action "finish" }}>Submit</button>

    </div>
</div>


