<div class="center-text">
    <span class="exp-text-medium">
        {{t "consent-template-5.header" }}: {{experiment.name}}
    </span>
</div>

<br>
<div class="video-consent-body">

    <p> {{t "consent-template-5.intro-sentence" name=PIName institution=institution experiment=experiment.name }}</p>

    <h2> {{t "consent-template-5.purpose-header" }}</h2>
    <p> {{ exp-format purpose }} </p>

    <h2> {{t "consent-template-5.procedures-header" }}</h2>
    <p> {{t "consent-template-5.duration-statement" duration=experiment.duration }}</p>

    <h2> {{t "consent-template-5.participation-header" }}</h2>
    <p>
        {{t "consent-template-5.participation-content" }}
    </p>
    {{#if voluntary_participation}}<p> {{ exp-format voluntary_participation }} </p>{{/if}}

    {{#if risk_statement}}
        <h2> {{ risk_header }} </h2>
        <p> {{ exp-format risk_statement }} </p>
    {{/if}}

    <h2> {{ benefits_header }} </h2>
    <p> {{ exp-format payment }} </p>

    <h2> {{t "consent-template-5.data-collection-header" }} </h2>
    <p>
        {{t "consent-template-5.data-collection-1" }}
    </p>
    <p>
        {{t "consent-template-5.data-collection-2" }}
    </p>

    <h2> {{t "consent-template-5.video-privacy-header" }}</h2>
    <p>
        {{t "consent-template-5.video-privacy-consent" }}
    </p>

    <p>
        {{t "consent-template-5.video-privacy-overview" }}:
        <ul>
            <li>"{{t "consent-template-5.video-privacy-Private" }}": {{t "consent-template-5.video-privacy-private-description" }}</li>
            <li>"{{t "consent-template-5.video-privacy-Scientific" }}": {{t "consent-template-5.video-privacy-scientific-description" }}
            </li>
            <li>"{{t "consent-template-5.video-privacy-Publicity" }}": {{t "consent-template-5.video-privacy-publicity-description" }}
            </li>
        </ul>
        {{t "consent-template-5.video-privacy-withdraw" }}
    </p>

    {{#if include_databrary}}
        <p>
            {{t "consent-template-5.databrary" htmlSafe=true }}
        </p>
    {{/if}}
    {{#if additional_video_privacy_statement}}
        <p>
            {{exp-format additional_video_privacy_statement}}
        </p>
    {{/if}}

    <h2> {{t "consent-template-5.data-use-researchers-header" }} </h2>
    <p>
        {{t "consent-template-5.data-use-researchers-content-1" name=PIName institution=institution }}
        <ul>
            <li> {{t "consent-template-5.data-use-researchers-item-1" }}</li>
            <li> {{t "consent-template-5.data-use-researchers-item-2" }}</li>
            <li> {{t "consent-template-5.data-use-researchers-item-3" }}</li>
        </ul>
        {{t "consent-template-5.data-use-researchers-content-2" }}
    </p>
    {{#if datause}}
        <p>
            {{exp-format datause}}
        </p>
    {{/if}}

    <h2> {{t "consent-template-5.data-use-Lookit-header" }}</h2>
    <p>
        {{t "consent-template-5.data-use-Lookit-content" }}
    </p>

    <h2> {{t "consent-template-5.publication-header" }}</h2>
    <p>
        {{t "consent-template-5.publication-contents" }}
    </p>

    {{#if additional_segments}}
        {{#each additional_segments as |segment|}}
            <h2> {{exp-format segment.title}} </h2>
            <p> {{exp-format segment.text}} </p>
        {{/each}}
    {{/if}}

    <h2> {{t "consent-template-5.research-subject-rights-header" }}</h2>
    <p> {{research_rights_statement}} </p>

    {{#if gdpr}}
        <h2> {{t "consent-template-5.gdpr-header" }} </h2>
        <p> {{t "consent-template-5.gdpr-personal" }}: {{exp-format gdpr_personal_data}}. {{t "consent-template-5.gdpr-sensitive" }}: {{exp-format gdpr_sensitive_data}} </p>
        <p>
            {{t "consent-template-5.gdpr-2" }}
        </p>
    {{/if}}


    <h2> {{t "consent-template-5.contact-header" }}</h2>
    <p>
        {{t "consent-template-5.contact-statement-1" name=PIName institution=institution contact=PIContact }}
    </p>
    <p>
        {{t "consent-template-5.contact-statement-2" }}
    </p>

</div>