<div class="center-text">
    <span class="exp-text-medium">
        Consent to participate in research: {{experiment.name}}
    </span>
</div>

<br>
<div class="video-consent-body">

    <p> Researchers led by {{PIName}} at {{institution}} are running this study, "{{experiment.name}}," on Lookit. </p>

    <h2> Why we are running this study </h2>
    <p> {{ exp-format purpose }} </p>

    <h2> What happens during this study </h2>
    <p> This study takes about {{ experiment.duration }} to complete. {{ exp-format procedures }} </p>

    <h2> Participation is voluntary </h2>
    <p>
        You and your child are free to choose whether to be in this study. If you do choose to participate, it's okay to
        stop at any point during the session. Please do pause or stop the session if your child becomes fussy or does
        not want to participate!
    </p>
    {{#if voluntary_participation}}<p> {{ exp-format voluntary_participation }} </p>{{/if}}

    {{#if risk_statement}}
        <h2> {{ risk_header }} </h2>
        <p> {{ exp-format risk_statement }} </p>
    {{/if}}

    <h2> {{ benefits_header }} </h2>
    <p> {{ exp-format payment }} </p>

    <h2> Data collection and webcam recording </h2>
    <p>
        During the session, you and your child will be recorded by your computer's webcam and microphone. These webcam
        recordings, and other data like answers you enter in forms, are sent securely to the Lookit platform. You can
        view your past recordings on Lookit under "Studies" -> "Your past studies" at any time.
    </p>
    <p>
        Data are stored securely on Lookit servers and by researchers, and are only shared as described in this
        document. However, there is always a small risk that data transmitted over the internet may be intercepted or
        that the security of stored data may be compromised.
    </p>

    <h2> Who will be able to see your webcam recordings?</h2>
    <p>
        We will first check that you really agreed to participate by watching your consent recording. If we cannot
        confirm that you agreed to participate, no one will view any other recordings from this session.
    </p>

    <p>
        At the end of the session, you will choose a privacy level for your webcam recordings. You can choose one of the
        following privacy levels for your videos:
        <ul>
            <li>"Private": Researchers with access to your recordings will not share them with anyone else.</li>
            <li>"Scientific": Researchers with access to your recordings may share them for scientific or educational
                purposes, for instance showing an example in a class or during a scientific conference.
            </li>
            <li>"Publicity": Researchers with access to your recordings may also share them for publicity, for instance in a
                news segment about the research or to recruit more participants.
            </li>
        </ul>
        You will also have the option to withdraw your recordings. If you do, only your consent recording will be kept
        and all other recordings will be deleted.
    </p>

    {{#if include_databrary}}
        <p>
            Separately, you can opt in to give access to your recordings and other data to authorized users of the
            secure data library Databrary. This means that other researchers besides the ones running this study will
            have access to your recordings, and may be able to use them to answer other questions about
            child development. Data sharing can lead to faster progress in research on human development and behavior.
            Authorized Databrary researchers have to agree to maintain confidentiality and not use the data for
            commercial purposes. If you have any questions about this data-sharing library, visit
            <a href="https://nyu.databrary.org/" target="_blank" rel="noopener">Databrary</a> or email
            ethics@databrary.org.
        </p>
    {{/if}}
    {{#if additional_video_privacy_statement}}
        <p>
            {{exp-format additional_video_privacy_statement}}
        </p>
    {{/if}}

    <h2> How we use your data </h2>
    <p>
        If you participate in this study, we (the research group led by {{PIName}} at {{institution}})
        will have access to:
        <ul>
            <li> webcam recordings and other data collected during this session</li>
            <li> your account profile and demographic survey</li>
            <li> the child profile for the child who is participating</li>
        </ul>
    This includes changes you make in the future to any of this information. We may put different types of information
    together to learn more about child development. For instance, if your child participates in multiple studies from
    our group, we may look at how his or her responses compare across studies, or we may look at whether siblings tend
    to respond similarly. We may also study connections between children’s responses and family demographic survey data.
    </p>
    {{#if datause}}
        <p>
            {{exp-format datause}}
        </p>
    {{/if}}

    <h2> How Lookit uses your data </h2>
    <p>
        The Lookit core team at MIT will also have access to the data collected during this session, in addition to your
        account data. They use this data to run and improve Lookit, for instance to provide technical support, check how
        well data collection is working, or see whether Lookit is reaching a diverse group of families. Lookit stores
        data indefinitely unless you withdraw your recordings at the end of the study.
    </p>

    <h2> Publishing the results of this study </h2>
    <p>
        The results of this study may be presented at scientific meetings or published in scientific journals. We may
        publish individual responses that cannot identify children, like looking times or sequences of button presses.
        We never publish children’s birthdates or names. Even if you choose to share your recordings, we never publish
        information that would make it possible to link recordings with your demographic data.
    </p>

    {{#if additional_segments}}
        {{#each additional_segments as |segment|}}
            <h2> {{exp-format segment.title}} </h2>
            <p> {{exp-format segment.text}} </p>
        {{/each}}
    {{/if}}

    <h2> Your rights as a participant </h2>
    <p> {{research_rights_statement}} </p>

    {{#if gdpr}}
        <h2> General Data Protection Regulation (GDPR) information </h2>
        <p> As part of your participation, we will collect certain personal information about you,
            including: {{exp-format gdpr_personal_data}}. In addition, we will collect special category data, your
            personal information that is especially sensitive: {{exp-format gdpr_sensitive_data}}
        </p>
        <p>
            Your personal information will be transferred to the United States. The data protection
            and privacy laws of the United States may not offer you the same level of protection as those in your
            country of origin.
        </p>
    {{/if}}


    <h2> How to reach us </h2>
    <p>
        This study is run by {{PIName}} at {{institution}}. If you or your child have any questions or concerns about
        this study, or in the very unlikely event of a research-related injury, please contact {{PIContact}}.
    </p>
    <p>
        If you or your child have any questions or concerns about the Lookit platform, please contact Kim Scott at
        lookit@mit.edu.
    </p>

</div>