{{! template-lint-disable invalid-interactive}}
{{! template-lint-disable style-concatenation}}

<div class="exp-lookit-image-audio">

    <div class="row recorder-container video-recorder-hidden">
        <div id="recorder" class="col-xs-12">
        </div>
    </div>

    <div id="image-area" class="{{if noStoryControls "image-area-no-controls"}}" >
        {{#if (or doRecording startSessionRecording)}}
            <p id='waitForVideo'> establishing video connection <br> please wait... </p>
        {{/if}}

        {{#each images_parsed as |image|}}
            <div id="{{image.id}}" class="story-image-container {{if image.fill "image-fill"}}">
                <img src={{image.src}} class="story-image " alt={{image.alt}}>
            </div>
        {{/each}}

        {{#if leftImage}}
            <div id="left-container">
                <img id="left-image" src={{leftImage_parsed}} class="stim-image" alt="left image">
            </div>
        {{/if}}
        {{#if rightImage}}
            <div id="right-container">
                <img id="right-image" src={{rightImage_parsed}} class="stim-image" alt="right image">
            </div>
        {{/if}}
        {{#if centerImage}}
            <div id="center-container">
                <img id="center-image" src={{centerImage_parsed}} class="stim-image" alt="center image">
            </div>
        {{/if}}
    </div>

    {{#unless updatedIsFullscreen}}
        <button class="btn btn-warning exp-lookit-story-page" id="fsButton" {{ action 'showFullscreen'}} >
            please return
            <br>
            to fullscreen
        </button>
    {{/unless}}

    {{#each audioSources_parsed as |audioSourceObject|}}
        <audio class="player-audio" id={{audioSourceObject.audioId}} onended={{action 'playNextAudioSegment'}} ontimeupdate={{action 'updateCharacterHighlighting'}}>
            {{#each audioSourceObject.sources as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>
    {{/each}}

    {{#unless noStoryControls}}

        <div id="story-controls">
            {{#unless autoProceed}}
                {{#unless autoProceed}}
                    <button id="previousbutton" class="btn btn-primary left" {{ action 'previous' }} >
                        Previous
                    </button>
                {{/unless}}
                {{#if audioSources_parsed}}
                    <button id="replaybutton" class="btn btn-primary left"  {{ action 'replay' }}> Replay</button>
                {{/if}}
            {{/unless}}

            {{#unless noParentText}}
                <div id="parenttext">
                    {{#if (and autoProceed showProgressBar)}}
                        <div class="progress" id="progressbar">
                            <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width:0%" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {{/if}}
                    {{exp-text-block block=parentTextBlock}}
                </div>
            {{/unless}}

            {{#unless autoProceed}}
                <button id="nextbutton" class="btn btn-success right" {{ action 'finish' }} >
                    Next
                </button>
            {{/unless}}


        </div>
    {{/unless}}

</div>

