{{! template-lint-disable no-html-comments}}
{{! template-lint-disable no-invalid-interactive}}

<div class="row exp-lookit-video-assent">
    <div class="col-xs-12 assent-intro">
        <p class="video-assent-title">Child assent to participate</p>
        <div>
            <p>
                For studies with older children, we need to check that both the parent <em>and</em> the child agree to participate. <strong>This page is for the child!</strong>
            </p>
            <p>
                Parents, please help your child read and navigate if needed.
            </p>
        </div>
        <hr>
    </div>

    <!--ASSENT FORM - PAGES FOR CHILD TO GO THROUGH-->
    <div class="col-xs-8 assent-procedure">
        <div class="row video-assent-numbered-direction">
            <div class="col-xs-11">
                <span class="video-assent-number">1.</span>
                <span class="video-assent-direction">Learn about the study:</span>
            </div>
            <div class="col-xs-1">
                <button type="button" id="downloadbutton" class="btn btn-outline-dark right" {{action "download"}}>( <i class="fa fa-download"></i> Download)</button>
            </div>
        </div>

        <div class="row center">

            <div class="col-xs-11 col-xs-offset-1 text-center well video-assent-doc" id="consent-form-text">

                <div class="exp-lookit-assent-visual-container">

                    {{#if currentPage.imgSrc}}
                        <img class="exp-lookit-assent-image" src={{currentPage.imgSrc}} alt={{currentPage.altText}}>
                    {{/if}}

                    <div class="row recorder-container {{unless currentPage.showWebcam "hidden-webcam"}}">
                        <div id="recorder" class="col-xs-12"></div>
                    </div>

                    <video id="assent-video" class="exp-lookit-assent-image {{unless currentPage.video "hidden"}}" controls onended={{action "videoCompleted"}}>
                        {{#each currentPage.video as |vidsource|}}
                            <source src={{vidsource.src}} type={{vidsource.type}}>
                        {{/each}}
                        Your browser does not support the video tag.
                    </video>

                </div>


                <div class={{unless currentPage.audio "hidden"}}>
                    <audio id="assent-audio" controls onended={{action "audioCompleted"}}>
                        {{#each currentPage.audio as |vidsource|}}
                            <source src={{vidsource.src}} type={{vidsource.type}} >
                        {{/each}}
                        Your browser does not support the audio tag.
                    </audio>
                </div>

                {{#if currentPage.textBlocks}}
                    <div class="assent-instruction-text">
                        {{#each currentPage.textBlocks as |textBlock|}}
                            {{exp-text-block block=textBlock}}
                        {{/each}}
                    </div>
                {{/if}}

            </div>

        </div>

        <!--ASSENT FORM NAVIGATION-->
        <div class="row">

            <div class="col-xs-2 col-xs-offset-1">
                <button type="button" disabled={{noPrev}} {{action "previousVideo"}} class="btn btn-primary pull-left vertical-center"><i class="fa fa-lg fa-chevron-left"></i> {{previousStimulusText}}</button>
            </div>

            <!--PAGE NUMBERS-->
            <div class="col-xs-7">
                <ol class="exp-lookit-video-assent-pagination">
                    {{#each pages as |page idx|}}
                        {{#if (eq idx pageIndex)}}
                            <li class="exp-lookit-video-assent-pagenumber current"></li>
                        {{else}}
                            <li class="exp-lookit-video-assent-pagenumber"></li>
                        {{/if}}
                    {{/each}}
                </ol>
            </div>

            <div class="col-xs-2">
                <button type="button" disabled={{noNext}} {{action "nextVideo"}} class="btn btn-success pull-right vertical-center"> {{nextStimulusText}} <i class="fa fa-lg  fa-chevron-right"></i></button>
            </div>

        </div>



    </div>

    <!--ASSENT DECISION SECTION: VIDEO AND/OR QUESTION-->
    <div class="col-xs-4 assent-decision {{unless readAllPages "lookit-assent-inactive"}}">

        <div class="video-assent-numbered-direction">
            <span class="video-assent-number">2.</span>
            <span class="video-assent-direction">Then decide: </span>
        </div>

        <div class="well video-assent-prompt">
            <div class="question"> {{participationQuestion}} </div>
            <button type="button" id="yesbutton" {{action "selectNo"}} disabled={{unless readAllPages "disabled"}} class="btn btn-danger pull-left {{if (eq childResponse "No") "active"}}">No <i class="fa fa-thumbs-down"></i></button>
            <button type="button" id="nobutton"  {{action "selectYes"}} disabled={{unless readAllPages "disabled"}} class="btn btn-success pull-right {{if (eq childResponse "Yes") "active"}}"><i class="fa fa-thumbs-up"></i> Yes</button>
            <div> </div>
        </div>

        {{#if (eq childResponse "No")}}
            <div class="no-assent-warning">
                You have chosen not to participate. Pressing 'submit' will take you to the main Lookit page.
            </div>
        {{/if}}

        <button type="button" id="submitbutton" disabled={{unless childResponse "disabled"}} class="btn btn-success pull-right" {{ action "submit" }}>submit <i class="fa fa-caret-right"></i></button>


    </div>

    <div id="consent-form-full-text">

        {{#each pages as |currentPage|}}

            {{#if currentPage.imgSrc}}
                {{#if currentPage.altText}}
                    [{{currentPage.altText}}]
                {{else}}
                    [Image]
                {{/if}}
            {{else}}
                {{#if currentPage.sources}}
                    [Video]
                {{/if}}
            {{/if}}

            {{#if currentPage.textBlocks}}
                {{#each currentPage.textBlocks as |textBlock|}}
                    {{exp-text-block block=textBlock}}
                {{/each}}
            {{/if}}

        {{/each}}

    </div>

</div>



