{{! template-lint-disable triple-curlies }}

<div class="row exp-lookit-video-assent">
    <div class="col-md-12">
        <span class="video-assent-title">Child assent to participate</span>
        <hr>
    </div>

    <div class="col-md-9 assent-procedure">
        <div class="video-assent-numbered-direction">
            <span class="video-assent-number">1.</span>
            <span class="video-assent-direction">Read to learn about the study:</span>
            <button id="downloadbutton" class="btn btn-outline-dark right" {{action 'download'}}>( <i class="fa fa-download"></i> Download)</button>
        </div>

        <div class="row center">

            <div class="col-md-10 col-md-offset-1 text-center well video-assent-doc assent-info " id="consent-form-text">

                {{#if currentPage.imgSrc}}
                    <img class="exp-lookit-assent-image" src={{currentPage.imgSrc}} alt={{currentPage.altText}}>
                {{else}}

                    {{#if currentPage.sources}}

                        <video class="exp-lookit-assent-video" controls style="width: 100%;">
                            {{#each currentPage.sources as |vidsource|}}
                                <source src={{vidsource.src}} type={{vidsource.type}}>
                            {{/each}}
                            Your browser does not support the video tag.
                        </video>

                    {{/if}}

                {{/if}}

                {{#if currentPage.textBlocks}}
                    <div class="assent-instruction-text">
                        {{#each currentPage.textBlocks as |textBlock|}}
                            {{exp-text-block block=textBlock}}
                        {{/each}}
                    </div>
                {{/if}}

            </div>

        </div>

        <div class="row">

            <div class="col-md-1 col-md-offset-1">
                  <button disabled={{noPrev}} {{action 'previousVideo'}} class="btn btn-primary pull-left vertical-center"><i class="fa fa-lg fa-chevron-left"></i> {{previousStimulusText}}</button>
            </div>

            <div class="col-md-8">
                <ol class="exp-lookit-video-assent-pagination">
                    {{#each pages as |page idx|}}
                        {{#if (eq idx pageIndex)}}
                            <li class="exp-lookit-video-assent-pagenumber current"></li>
                        {{else}}
                            <li class="exp-lookit-video-assent-pagenumber"></li>
                        {{/if}}
                    {{/each}}
                </ol>
            </div>

            <div class="col-md-1">
                <button disabled={{noNext}} {{action 'nextVideo'}} class="btn btn-success pull-right vertical-center"> {{nextStimulusText}} <i class="fa fa-lg  fa-chevron-right"></i></button>
            </div>

        </div>



    </div>


    <div class="col-md-3">

        <div class="row recorder-container">
            <div id="recorder" class="col-xs-12"></div>
        </div>

        <div class="video-assent-numbered-direction">
            <span class="video-assent-number">2.</span>
            <span class="video-assent-direction">Decide whether to participate</span>
        </div>

        <div class="well video-assent-prompt">
            <div class="question"> {{participationQuestion}} </div>
            <button id="yesbutton" disabled="disabled" class="btn btn-danger pull-left">No <i class="fa fa-thumbs-down"></i></button>
            <button id="nobutton"  disabled="disabled" class="btn btn-success pull-right"><i class="fa fa-thumbs-up"></i> Yes</button>
            <div> </div>
        </div>

        <button id="submitbutton" disabled="disabled" class="btn btn-success pull-right" {{ action 'finish' }}>submit <i class="fa fa-caret-right"></i></button>


    </div>

    <div id='consent-form-full-text'>

        {{#each pages as |currentPage|}}

            {{#if currentPage.imgSrc}}
                {{#if currentPage.altText}}
                    [{{currentPage.altText}}]
                {{else}}
                    [Image]
                {{/if}}
            {{else}}
                {{#if currentPage.sources}}
                    [Video]
                {{/if}}
            {{/if}}

            {{#if currentPage.textBlocks}}
                {{#each currentPage.textBlocks as |textBlock|}}
                    {{exp-text-block block=textBlock}}
                {{/each}}
            {{/if}}

        {{/each}}

    </div>

</div>



