{{! template-lint-disable no-invalid-interactive}}

<div class="row exp-video-config">

    <div class="col-md-10 col-md-offset-1">

        <h2> {{t "exp-video-config.title" }} </h2>

        <p id="not-recording-note">
            {{t "exp-video-config.not-recording-note" }}
        </p>

        <hr>

    </div>
</div>

<div class="row exp-video-config">

    <div class="col-md-5 col-md-offset-1">
        <div class="row exp-video-config recorder-container">
            <div id="recorder" class="col-xs-12"></div>
        </div>

        <div class="col-md-1">
            <button type="button" id="reloadButton" class="btn btn-default" {{action "reloadRecorderButton"}}><i class="fa fa-refresh"></i></button>
        </div>

        <div class="col-md-11">
            <div class="row select-source">

                <div class="select" onchange={{action "processSelectedMic" value="target.value"}}>
                    <label for="audioSource">{{t "exp-video-config.Microphone" }}: </label><select id="audioSource"></select>
                </div>

                <div class="select" onchange={{action "processSelectedCam" value="target.value"}}>
                    <label for="videoSource">{{t "exp-video-config.Camera" }}: </label><select id="videoSource"></select>
                </div>
            </div>
        </div>

        <p class="support-note"> <em>{{ t "exp-video-config.Note"}}:</em> {{t "exp-video-config.support-message" }}</p>

    </div>

    <div class="col-md-5">

        {{#if showWebCamWarning }}
            <h4 class="text-warning">
                {{t "exp-video-config.no-connection" }}
                <button type="button" class="btn btn-default" {{action "reloadRecorder"}}>{{ t "exp-video-config.click-here-to-detect" }}</button>.
                {{t "exp-video-config.see-troubleshooting" }}
            </h4>
        {{/if}}

        {{#unless showWebCamWarning }}

            <ol>

                <li>
                    {{ t "exp-video-config.step-1" }}

                    {{#if hasCamAccess}}
                        <div class="statusBox border checkComplete">
                            {{ t "exp-video-config.looks-good" }}
                        </div>
                    {{else}}
                        <div class="statusBox border">
                            {{ t "exp-video-config.no-webcam-detected" }}
                        </div>
                    {{/if}}


                </li>

                <li>

                    {{ t "exp-video-config.step-2-click-directions" }}
                    <button type="button" id="reloadCheckButton" class="btn btn-default {{if checkedWebcamPermissions "checkComplete" ""}}" {{action "reloadRecorderButtonAndRecordCheck"}}>{{ t "exp-video-config.reload-button-label" }} </button>.
                    {{ t "exp-video-config.step-2-what-should-happen" }}

                </li>

                <li>
                    {{ t "exp-video-config.step-3" }}:

                    <div class="statusBox border {{if micChecked "checkComplete" ""}}">
                        {{#if micChecked}}
                            {{ t "exp-video-config.sounds-good" }}
                        {{else}}
                            {{ t "exp-video-config.try-clapping" }}
                        {{/if}}
                    </div>

                </li>

            </ol>

        {{/unless}}


        {{#if showWarning }}

            {{#if hasCamAccess}}
                {{#unless checkedWebcamPermissions}}
                    <div class="reload-warning">
                        * {{t "exp-video-config.step-2-warning" }}
                    </div>
                {{/unless}}
                {{#unless micChecked}}
                    <div class="reload-warning">
                        * {{ t "exp-video-config.step-3-warning" }}
                    </div>
                {{/unless}}
            {{else}}

                <div class="reload-warning">
                    * {{ t "exp-video-config.camera-access-warning" }}
                </div>
            {{/if}}

        {{/if}}

        <button type="button" id="nextbutton" disabled={{if hasCamAccess false true}} class="btn btn-success pull-right" {{ action "checkAudioThenNext" }} >
            {{ t "Next" }}
        </button>
    </div>


</div>


<div class="row exp-video-config">
    <div class="col-md-10 col-md-offset-1">

        <h2> {{t "exp-video-config.setup-tips-header" }} </h2>
        <hr>

        <p>
            {{exp-format troubleshootingIntro}}
        </p>

        {{#bs-accordion selected=selected collapsed=collapsed as |acc|}}

            {{#acc.item value="devices" title=(t "exp-video-config.supported-setup" ) }}
                <ol>
                    <li>
                        {{ t "exp-video-config.mobile-devices" }}
                    </li>
                    <li>
                        {{ t "exp-video-config.browser-support" }}
                    </li>
                </ol>
            {{/acc.item}}

            {{#acc.item value="chrome" title=(t "exp-video-config.chrome-instructions-header" ) }}
                <ol>
                    <li>
                        {{ t "exp-video-config.chrome-directions-prompt" }}
                        <img class="screenshot" src="assets/webrtc_chrome_initialprompt.png" alt="Chrome permissions prompt">
                    </li>
                    <li>
                        {{ t "exp-video-config.chrome-directions-set-perms" }}
                        <img class="screenshot" src="assets/webrtc_chrome_fix_step1.png" alt="Editing microphone and camera permissions in Chrome, step 1">
                    </li>

                    <li>
                        {{ t "exp-video-config.chrome-select-mic" htmlSafe=true }}
                    </li>

                    <li>
                        {{ t "exp-video-config.chrome-select-camera" htmlSafe=true }}
                    </li>

                    <li>
                        {{ t "exp-video-config.chrome-further-help" htmlSafe=true }}
                    </li>
                </ol>
            {{/acc.item}}

            {{#acc.item value="firefox" title=(t "exp-video-config.firefox-instructions-header" )}}
                <ol>
                    <li>
                        {{ t "exp-video-config.firefox-directions-prompt" }}
                        <img class="screenshot" src="assets/webrtc_firefox_initialprompt.png" alt="Firefox permissions prompt">
                    </li>
                    <li>
                        {{ t "exp-video-config.firefox-directions-set-perms" }}
                        <img class="screenshot" src="assets/webrtc_firefox_fix_step1.png" alt="Editing microphone and camera permissions in Firefox">
                    </li>
                </ol>
            {{/acc.item}}

            {{#acc.item value="whatelse" title=(t "exp-video-config.additional-troubleshooting-header" )}}

                <p> {{ t "exp-video-config.additional-troubleshooting-intro" }} </p>
                <ol>
                    <li>
                        {{ t "exp-video-config.camera-check" }}
                    </li>

                    <li>
                        {{ t "exp-video-config.try-another-browser" }}
                    </li>

                    <li>
                        {{ t "exp-video-config.chrome-incognito" }}
                    </li>

                    <li>
                        {{ t "exp-video-config.additional-troubleshooting-contact" }}: {{session.id}}
                    </li>

                </ol>

            {{/acc.item}}

        {{/bs-accordion}}

    </div>

</div>
