<div class="row exp-test">

 <div class="row" id="experiment-player">

      <p>
        <button style="width: 100%" class="btn btn-warning" {{ action 'showFullscreen' }}>
          Return to fullscreen
        </button>
      </p>


    <div class="col-xs-12">
      <canvas id="myCanvas" width="1200" height="640"></canvas>

      {{bs-button class="pull-right" defaultText="Play" type="success" onClick=(action "play")}}
      <div class="row exp-controls exp-test">
        <div class="btn-group">
          <button class="btn btn-default pull-left" {{ action 'previous' }} > Previous </button>
          <button class="btn btn-default pull-left"  {{ action 'next' }} > Next </button>
        </div>
      </div>
    </div>
  </div>


{{#each export_arr as |item|}}
  {{exp-text-block block=item}}
{{/each}}



</div>



