<iframe 
    height="{{ iframeHeight }}" 
    width="{{ iframeWidth }}" 
    src="{{ iframeSrc }}" 
    sandbox="allow-scripts allow-same-origin" 
    referrerpolicy="no-referrer"
/>
{{#if optionalText }}<p>{{ optionalText }}</p>{{/if}}
{{#if optionalExternalLink }}
<p>
    If you don't see anything in the space above, there might have been a problem loading this part of the study. Click 
    <a href="{{ iframeSrc }}" target="_blank" rel="noopener noreferrer">here</a>
    to open this part of the study in a new tab. Make sure to keep this tab open so you can continue to the rest of the study.
</p>
{{/if}}
<div class="row exp-controls">
    <div class="col-md-12">
        <button type="button" id="nextbutton" disabled="" class="btn btn-success pull-right" {{ action "next" }} > {{ t "Next" }} </button>
    </div>
</div>