{{! template-lint-disable invalid-interactive}}
{{! template-lint-disable style-concatenation}}

<div class="exp-lookit-dialogue-page" id="exp-lookit-dialogue-page-container">

    <div class="row recorder-container video-recorder-hidden">
        <div id="recorder" class="col-xs-12">
        </div>
    </div>

    <div id="story-area">
        {{#if doRecording}}
            <p id='waitForVideo'> establishing video connection <br> please wait... </p>
        {{/if}}

        {{#each images_parsed as |image|}}
            <div id={{image.id}} class="story-image-positioner" style="left:{{image.left}}%; height:{{image.height}}%; bottom:{{image.bottom}}%;">
                <div class="story-image-container" onclick={{action 'clickSpeaker' image.id}} >
                    <p onclick={{action 'clickSpeaker' image.id}} class="image-text {{if (not completedAudio) 'disabled'}}"> {{image.text}} </p>
                    <img src={{image.src}} class="story-image" alt="story character">

                    <audio class="speaker-audio" onplay={{action 'markAudioPlayed' image.id}} onended={{action 'endSpeakerAudio' image.id}}>
                        {{#each image.imageAudio as |stream|}}
                            <source src="{{stream.src}}" type="{{stream.type}}">
                        {{/each}}
                    </audio>
                </div>
            </div>
        {{/each}}

        <img src={{backgroundImage_parsed}} id="background-image" alt="background image">
    </div>

    {{#unless updatedIsFullscreen}}
        <button class="btn btn-warning exp-lookit-dialogue-page" id="fsButton" {{ action 'showFullscreen'}} >
            please return
            <br>
            to fullscreen
        </button>
    {{/unless}}

    {{#each audioSources_parsed as |audioSourceObject|}}
        <audio class="player-audio" id={{audioSourceObject.audioId}} onended={{action 'playNextAudioSegment'}}>
            {{#each audioSourceObject.sources as |stream|}}
                <source src="{{stream.src}}" type="{{stream.type}}">
            {{/each}}
        </audio>
    {{/each}}

    <div id="story-controls">
        {{#unless autoProceed}}
            <button id="replaybutton" class="btn btn-primary left"  {{ action 'replay' }}> Replay</button>
        {{/unless}}
        <div id="parenttext">
            {{exp-text-block block=parentTextBlock}}
        </div>
        {{#unless autoProceed}}
            <button id="nextbutton" class="btn btn-success right" disabled={{not readyToProceed}} {{ action 'finish' }} >
                Next <br> (or press Enter)
            </button>
        {{/unless}}
    </div>


</div>