<div id="expContainer">
    {{#if response.study.id}}
        {{exp-player
              experiment=study
              session=response
              pastSessions=pastResponses
              saveHandler=(action 'saveResponse')
              frameIndex=0
              fullScreenElementId='expContainer'
          }}
    {{else}}
        No study!

        <p> Response.id: {{response.id}}</p>
        <p> Response.study: {{response.study}}</p>
        <p> Response.study.id: {{response.study.id}}</p>
        <p> Response.child: {{response.child}}</p>
        <p> Response.child.id: {{response.child.id}}</p>
        <p> Study.id: {{study.id}}</p>

    {{/if}}
</div>
