<div id="expContainer">
    {{#if response.study.id}}
        <div id="application-parse-error-text">
            <p> Error loading study "{{study.name}}" - likely an error parsing the study protocol. </p>
            <p> <strong>Participants:</strong> please contact {{study.contactInfo}} or lookit-tech@mit.edu for assistance. </p>
            <p> <strong>Researchers:</strong> see web console (browser developer tools) for details. </p>
            <p> Study sequence: {{study.structure.sequence}} </p>
        </div>

        {{exp-player
              experiment=study
              session=response
              pastSessions=pastResponses
              saveHandler=(action 'saveResponse')
              frameIndex=0
              fullScreenElementId='expContainer'
          }}
    {{/if}}
</div>

{{#bs-modal open=showData title="Data collected during this preview session" closeAction=(action 'toggleData') as |modal|}}
    {{#modal.body}}
        <p>
            <strong> Note: </strong>
            This dialog will not appear to participants when they complete a study. Instead, the "Finish" button will redirect them to the exit URL you specify.
        </p>
        <hr>
        <pre class="preview-data">
            {{previewData}}
        </pre>
    {{/modal.body}}
{{/bs-modal}}